body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
}

.skeleton-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.skeleton-box {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: none;
  flex-direction: row;
  height: 100vh;
}

.menu {
  display: grid;
  flex-direction: column;
  width: 200px;
  background-color: #f7f7f7;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.tile {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 10px;
}

.tile:hover {
  background-color: #e6e6e6;
}

.tile.active {
  background-color: #4CAF50;
}

.tile h2 {
  font-size: auto;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.tile p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.results {
  width: 80%; /* change the width to 80% of the parent container */
  padding: 20px;
  overflow-y: auto;
}

.results h2 {
  font-size: auto;
  font-weight: 600;
  margin: 0;
}

#active-requests-table {
  width: 100%;
  overflow-x: auto;
}

.active-requests-table th,.active-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.active-requests-table th {
  background-color: #f0f0f0;
}

.completed-requests-table {
  border-collapse: collapse;
  width: 100%;
}

.completed-requests-table th,.completed-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.completed-requests-table th {
  background-color: #f0f0f0;
}

.onwcod-requests-table {
  border-collapse: collapse;
  width: 100%;
}

.onwcod-requests-table th,.onwcod-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.onwcod-requests-table th {
  background-color: #f0f0f0;
}

.offwcodwsd-requests-table {
  border-collapse: collapse;
  width: 100%;
}

.offwcodwsd-requests-table th,.offwcodwsd-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.offwcodwsd-requests-table th {
  background-color: #f0f0f0;
}

.onwsd-requests-table {
  border-collapse: collapse;
  width: 100%;
}

.onwsd-requests-table th,.onwsd-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.onwsd-requests-table th {
  background-color: #f0f0f0;
}

.animate-in {
  animation: flyIn 1s;
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#dialogue-window-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%; /* Increased width to 90% */
  max-width: 1200px; /* Set a maximum width of 1200px */
  height: auto; /* Make the height auto-adjust to the content */
  display: none;
  overflow-y: auto; /* Add a scrollbar if the content is too long */
}

#dialogue-content-1 {
  padding: 20px;
  overflow-y: auto; /* Add a scrollbar if the content is too long */
}

#dialogue-close-1 {
  position: absolute;
  top: 10px;
  right: 10px;
}

#dialogue-window-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Make the width 80% of the screen */
  max-width: 600px; /* Set a maximum width of 600px */
  height: auto; /* Make the height auto-adjust to the content */
  display: none;
}

#dialogue-content-2 {
  padding: 20px;
  overflow-y: auto; /* Add a scrollbar if the content is too long */
}

#dialogue-close-2 {
  position: absolute;
  top: 10px;
  right: 10px;
}